body{
    background-color: rgb(248, 248, 244);
    /*font-size: 20px;*/
    margin: 20px;

}


.header {
    background-color: rgb(23, 23, 81);
   
    text-align: center;

    /* flex: 80%; */
}

.header h1{
    font-size: 60px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(248, 248, 244);
    letter-spacing: 8px;
}

.form-container {
    width: 70 vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: none;
}


.form-container h2 {
    font-size: 24px;
    color: rgb(23, 23, 81); 
    text-align: center;
}

.form-container button {
    font-size: 15px;
    color: rgb(23, 23, 81); 
    text-align: center;
}

.container2{
    display: flex;
    background-color: rgb(248, 248, 244);
    padding: none;
    gap: 5vw;
    align-items: center;
    text-align: center;
    color: rgb(23, 23, 81);
}

h2 {
    text-align: center;
    font-size: 23px;
    color: rgb(23, 23, 81); 
}

.container2 h4 {
    font-size: 20px;
}

.container2 img{
    height: 50px;
}

.coursetile{
    background-color: rgb(248, 248, 244);
    overflow: hidden;
    height: 2000px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
}

button{
    margin: 1vh;
    background-color: rgb(248, 248, 244);
    border-radius: 20px;
    border-color: rgb(23, 23, 81);
    cursor: pointer;
    padding: 2vw;
    transition: all .2s ease-in-out;
    font-family: "DM Serif Display", serif;
}

button:hover{
    background-color: rgb(23, 23, 81);
    color: white;
}

input{
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(23, 23, 81);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(248, 248, 244);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(248, 248, 244);
    color:rgb(23, 23, 81)
}

.navbar li{
    float: right;
}
  